body{
	background-color: #c0bec4;
}

iframe{
	width: 100;
  border-radius: 8px;
	length:100;

}

img
{
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
  height: 700px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #edeae7;
}

li a {
	background-color: #edeae7;
	display: block;
	padding: 14px 16px;
	text-decoration: none;
	float: left ;
	color: #256286;
	font-family: 'font-family';

}

li a:hover:not(.active) {
 color:  #14a4e4;

}

.active {
  background-color:  #14a4e4;

}
