body{
	background-color: #c0bec4;
}

iframe{
	width: 100;
	length:100;

}

img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #edeae7;
<<<<<<< HEAD
  text-align: center ;
=======
>>>>>>> 64ba4645e03685785599504bbf8cd67e0e6a2daf
}

li a {
	background-color: #edeae7;
	display: block;
	padding: 14px 16px;
	text-decoration: none;
<<<<<<< HEAD
=======
	float: left ;
>>>>>>> 64ba4645e03685785599504bbf8cd67e0e6a2daf
	color: #256286;
	font-family: 'Comic Sans MS';
	
}

li a:hover:not(.active) {
 color:  #14a4e4;

}

.active {
  background-color:  #14a4e4;

}



